.dop_1 {
    position: absolute;
    width: 203.82px;
    height: 118.6px;
    left: 299px;
    top: 41px;
    transform: rotate(-4deg);
    z-index: 1;
}

.dop_1 :nth-child(1){
    position: absolute;
    top: -36%;
    left: 10%;
}

.dop_1 :nth-child(2) {
    position: absolute;
    top: -10%;
    left: 38%;
}

.dop_2 {
    position: absolute;
    width: 222.22px;
    height: 129.3px;
    left: 280.72px;
    top: 149px;
    /* border: 1.5px solid #FFFFFF; */
    transform: rotate(-4deg);
}

.dop_3 {
    position: absolute;
    width: 68.05px;
    height: 40.21px;
    left: 430px;
    top: 30px;
    /* border: 1.5px solid #FFFFFF; */
    transform: rotate(178deg);
}

.dop_4 {
    position: absolute;
    width: 323.58px;
    height: 10.28px;
    left: 109.28px;
    top: 3.75px;
    transform: rotate(-3deg)
}

.dop_4 :nth-child(2){
    position: absolute;
    top: 250px
}



