@media (min-width: 2400px) and (max-width: 2560px) {
    .section_1 {
        width: 93%;
        height: 654px;
        top: 20px;
        left: 16%;
        position: relative;
    }
    
    body {
        overflow-x: hidden;
    }
    body {
        margin: 0;
        padding: 0;
      }
    * {
        box-sizing: border-box;
    }
    
    .menu {
        display: flex;
        
     } 
    
    .burger {
        height: 12%;
        width: 16%;
        display: none;
        transition: transform 0.3s ease; /* Плавна анімація */
        cursor: pointer;
    }
    
    .burger-expanded {
        transform: scale(1.2); /* Збільшення при натисканні */
    }
    
    .menu_logo {
        height: 15%;
    margin-top: 0.5%;
    width: 5%;
    }

    .navigation{
        margin-right: -11%;
    }
    
    .navigation li {
        margin-left: 27%;
        list-style-type: none;
        margin-top: 5%;
    }
    
    .navigation li a {
        text-decoration: none;
        width: 51px;
        height: 26px;
        font-size: xx-large;
        font-family: avenir;
    }
    
    button {
        cursor: pointer;
    }
    
    .menu_button {
        position: relative;
        width: 15%;
        height: 13%;
        border-radius: 50px;
        font-family: avenir;
        background-color: white;
        size: 100px;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-left: 30%;
        margin-top: 0%;
    }
    
    .menu_button p {
        color: #212353;
        font-size: 251%;
        margin-right: 24%;
    }
    
    .menu_button img {
        position: absolute;
        top: 39%;
        right: 14%;
        /* margin-bottom: 10%; */
        width: 13%;
    }
    
    
    
    .main_1 {
        height: 77%;
        width: 87%;
    }
    
    .main_1 h1 {
        font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 832%;
    line-height: 90%;
    color: #212353;
    margin-top: 10%;
    width: 60%;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
    }
    
    .main_1 p {
        width: 41%;
        margin-top: -3%;
        height: 10%;
        font-family: avenir;
        line-height: 170%;
        font-size: 235%;
        color: #4B5D68;
    }
    
    .main_1 button {
        border-radius: 50px;
        width: 20%;
        height: 20%;
        background-color: #9C69E2;
        border: 0;
        font-family: avenir;
        align-items: center;
        line-height: 15%;
        color: white;
        font-size: xx-large;
        margin-top: 10%;
        transition: transform 0.3s ease;
    }
    
    .section_1_img{
        position: absolute;
        width: 64em;
        height: 43em;
        top: 62%;
        left: 34%;
    }

    .section_2 {
        width: 69%;
        height: 460px;
        margin-top: 17%;
        left: 13%;
        background-color: rgba(240, 99, 184, 0.15);
        position: relative;
        border-radius: 50px;
        margin-bottom: 6%;
        display: flex;
    }
    
    .section_2 img {
           /* position: absolute; */
        width: 54%;
        height: 158%;
    }
    
    .main_2 {
        margin-left: 7%;
        width: 55%;
        margin-top: 3%;
    }
    
    .main_2 h2 {
        width: 119%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 120%;
    font-size: 550%;
    margin-top: 13%;
    color: #212353;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
    margin-bottom: 15%;
    }
    
    .main_2 p {
        width: 80%;
        color: #4B5D68;
        font-size: 180%;
        font-family: avenir;
        line-height: 150%;
    }

    .section_3 {
        width: 80%;
        height: 884px;
        left: 10%;
        /* background-color: #F063B826; */
        position: relative;
        margin-bottom: 10%;
        margin-top: 20%;
    }
    
    .section_3 h2 {
        width: 100%;
        height: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 500%;
        line-height: 100%;
        margin-left: 47%;
        
    }
    
    .section_3 p {
        width: 40%;
        /* height: 100%; */
        font-family: avenir;
        font-size: 190%;
        line-height: 34px;
        color: #4B5D68;
        text-align: center;
        top: 13%;
        left: 38%;
        margin-left: 34%;
    }
    
    .main_3 {
        width: 100%;
        /* background-color: aqua; */
        height: 89%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        margin-left: 5%;
    }
    
    
    .title_1 {
        position: relative;
        background-image: url(../images/fhone_1.png);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 50px;
    }
    
    .title_1 h3 {

        width: 47%;
        height: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 300%;
        line-height: 110%;
        color: #212353;
        left: 43.5%;
        margin-left: 43%;

    }
    
    .title_1 p {
        width: 29%;
        /* height: 100%; */
        font-family: avenir;
        font-size: 159%;
        line-height: 33px;
        color: #4B5D68;
        text-align: left;
        left: 44%;
        margin-left: 43%;
    }
    
    .title_1_img  {
        z-index: 1;
        height: 79%;
        position: absolute;
        left: 5%;
        top: 21%;
        width: 39%;
    }
    
    .title_1 a {
        margin-left: 43%;
        bottom: 10%;
        left: 44%;
        color: #212353;
        text-decoration: none;
        font-family: avenir;
        font-size: 220%;
    }
    
    .arrow {
       
        margin-top: 1%;
        width: 4%;
        margin-bottom: -0.5%;
    }
    
    
    .title_2 {
        position: relative;
        background-image: url(../images/fhone_2.png);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 50px;
    }
    
    .title_3 {
        position: relative;
        background-image: url(../images/fhone_3.png);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 50px;
    }
    
    .title_4 {
        position: relative;
        background-image: url(../images/fhone_4.png);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 50px;
    }

    hr {
        width: 100%;
        height: 2px;
        opacity: 20%;
        color: #9C69E2;
        margin-left: 0;
    }
    
    .higher {
        position: relative;
         margin-top: 7%;
    }
    
    .title {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin-left: 6%;
    }
    
    
    .title h2 {
        font-family: Arial, Helvetica, sans-serif;
    font-size: 450%;
    line-height: 52px;
    color: #212353;
    /* position: absolute; */
    margin-left: 13%;
    }
    
    .lower p {
        margin-left: 6%;
        width: 67%;
        height: 30%;
        font-family: avenir;
        font-size: 51%;
        line-height: 11px;
        letter-spacing: 1%;
        color: #212353;
    }
    
    .inf {
        font-family: avenir;
        font-size: 155%;
        line-height: 29px;
        color: #4B5D68;
        
        margin-left: 18%;
    }
    
    .title button p {
        font-size: 1.9rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate; 
    }
    
    .footer_button_1 {
        width: 12%;
        height: 5.4rem;
        border-radius: 50px;
        background-color: #F063B8;
        color: white;
        border: 0;
        /* position: absolute; */
        right: 30%;
        margin-left: 28%;
        margin-top: 0.5%;
    }
    
    .footer_button {
        width: 12.5%;
        display: flex;
        right: 15%;
        top: 22%;
        height: 3.5rem;
        border-radius: 50px;
        font-family: avenir;
        background-color: white;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-left: 2%;
        justify-content: center;
        align-items: center;
    }
    
    .footer_button img {
        margin-left: 3%;
        margin-top: 2%;
        width: 15%;
    }
    
    
    .lower {
        display: flex;
    /* justify-content: space-between; */
    margin-left: 6%;
        
    }
    
    .lower p {
        margin-left: 13%;
        width: 20%;
        height: 30%;
        font-family: avenir;
        font-size: 150%;
        line-height: 22px;
        letter-spacing: 1%;
        color: #212353;
    }
    
    .lower img {
        margin-left: 47%;
        margin-bottom: 0%;
        width: 5%;
    }
    
    
}
