.footer-button {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* background-color: #333; */
    margin-top:-50px;
    margin-left: 122px;
  }
  
  .footer-button button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .footer-button button:hover {
    background-color: #333;
    color: #ffcc00;
  }